* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
}

header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.header-logo {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-decoration: none;
    color: #4b4b4b;
}

.header-element {
    text-decoration: none;
    color: #4b4b4b;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

nav {
    margin: 0 0 0 auto;
}

.h2-main{
    background: linear-gradient(transparent 70%, white 50%);
}

a.btn_03 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 200px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
    font-size: large;
	border: 4px solid white;
	color: white;
	border-radius: 100vh;
	transition: 0.5s;
}
a.btn_03:hover {
	color: #fff;
	background: orange;
}

.example {
    position: relative;
}

.example p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    /*文字の装飾は省略*/
}

.example img {
    width: 100%;
}

.title{
    border: 20px;
    opacity: 85%;
    font-size: 28px;
    padding: 20px;
    font-weight: bolder;
    background-color:black;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin: 5px;
}

/*
.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px;
    grid-gap: 10px;
}

.child1, .child2, .child3, .child4, .child5, .child6 {
    border: dotted 1px #000;
}
*/

